* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --grey-black: #515151;
    --main-yellow: #FFC53D;
    --main-orange: #FF9A3D;
}

#wrapper {
    width: 100vw;
    min-width: 1000px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Navigation bar */

#navbar {
    padding-top: 48px;
    height: 50px;
}

#navbar #logo h5,
#navbar ul {
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--grey-black);
}

#navbar #logo {
    float: left;
    padding-left: 5%;
}

#navbar #logo h5 {
    font-size: 24px;
}

#dev-icon .fa-desktop {
    font-size: 30px;
}

#dev-icon .fa-code {
    font-size: 15px;
    position: relative;
    top: -7px;
    left: -27px;
}

#navbar ul {
    float: right;
    padding-right: 5%;
}

#navbar ul li {
    display: inline-block;
    padding-left: 50px;
    font-size: 18px;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--grey-black);
}

/* HEADER */

#hero {
    height: 585px;
    width: 100%;
    background-image: url(../imgs/cover-photo.png);
    background-size: cover;
    background-position: center;
}

#hero>* {
    text-align: center;
    font-weight: bold;
}

#hero h1 {
    font-size: 100px;
    color: var(--main-yellow);
    padding-top: 13%;
}

#hero h2 {
    font-size: 36px;
    padding: 1.5% 0;
    color: #fff;
}

#hero p {
    font-size: 20px;
    color: var(--main-orange);
    font-weight: normal;
}

#hero .fab {
    margin: 15px 15px;
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    background-color: #fff;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

#hero .fa-github {
    transform: scale(1.5);
    padding: 0;
    background-color: var(--main-orange);
    color: #fff;
}

/* add layer !! */