* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --grey-black: #515151;
    --main-yellow: #FFC53D;
    --main-orange: #FF9A3D;
    --text-black: #222;
    --background-white: #FAFAFF;
}


@keyframes navanimation {
    25% {
        color: var(--main-orange);
    }

    50% {
        color: var(--main-yellow);
    }

    75% {
        color: var(--main-orange);
    }

}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* Navigation bar */

#navbar {
    padding-top: 48px;
    height: 50px;
}

#navbar #logo h5,
#navbar ul {
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--grey-black);
}

#navbar #logo h5 {
    line-height: 28px;
    letter-spacing: 0.15;
    float: left;
    font-size: 24px;
    padding-left: 1%;
}

#navbar #logo img {
    float: left;
    padding-left: 5%;
}

#navbar ul {
    float: right;
    padding-right: 5%;
}

#navbar ul li {
    display: inline-block;
    padding-left: 50px;
    font-size: 18px;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--grey-black);
}

/* HEADER */

#hero {
    height: 585px;
    width: 100%;
    background-image: url(imgs/cover-photo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero h1,
#hero h2,
#hero p {
    text-align: center;
    font-weight: bold;
    position: relative;
}

#hero h1 {
    font-size: 100px;
    color: var(--main-yellow);
    padding-top: 13%;
}

#hero h2 {
    font-size: 36px;
    padding: 1.5% 0;
    color: #fff;
}

#hero p {
    font-size: 20px;
    color: var(--main-orange);
    font-weight: normal;
}

#hero .fab {
    margin: 15px 15px;
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    background-color: #fff;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

#hero .fa-github {
    transform: scale(1.5);
    padding: 0;
    color: #fff;
    background-color: var(--main-orange);
}

#overlay {
    background-image: url(imgs/hero-layer.png);
    background-size: cover;
    background-blend-mode: lighten;
    height: 585px;
    width: 100%;
    top: 0;
    position: absolute;
    opacity: 0.2;
}

/* RECTANGLE */

#rectangle {
    margin-bottom: 50px;
}

#rectangle p {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--text-black);
    font-weight: normal;
    letter-spacing: 0.02em;
    margin-top: 38px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.rec-buttons {
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 50px 40px;

    /* button text */
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

/* ABOUT ME */
#about-me {
    position: relative;
}

#about-back-rectangle {
    width: 68%;
    height: 400px;
    background-color: var(--background-white);
    position: absolute;
    top: -70px;
    z-index: -1;
}

#about-me h3 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-left: 150px;
    margin-bottom: 3%;
    position: absolute;
    top: -60px;
}

#about-front-rectangle {
    top: 75px;
    height: 220px;
    margin: 0 auto;
    width: 85%;
    padding: 30px 50px 30px 50px;
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 15% 30% 55%;
}

#person-img {
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
}

#personal-details {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160.86%;
    color: var(--text-black);

    border-right: dotted var(--main-orange) 4px;
}

.details {
    color: var(--main-yellow);
    padding-left: 5px;
}

.details#email {
    text-decoration: underline;
}

#about-paragraph {
    font-size: 18px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    margin-left: 20px;
}

/* SKILLS */

#skills {
    margin-top: 7%;
    margin-bottom: 50px;
    position: relative;
}

#skills-back-rectangle {
    position: absolute;
    right: 0;
    top: 0;
    height: 430px;
    width: 68%;
    background-color: var(--background-white);
}

#skills-back-rectangle h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-left: 50px;
}

#skills-front-rectangle {
    position: relative;
    top: 75px;
    height: 280px;
    width: 85%;
    margin: 0 7.5% 200px;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    text-align: center;
}

#skills-front-rectangle p {
    font-size: 24px;
    line-height: 28px;
}

#skills-front-rectangle .pyellow {
    font-weight: bold;
    color: var(--main-yellow);
    padding: 20px 0 10px 0;
}

.skill {
    margin: 50px;
}

#frontend {
    border-right: dotted var(--main-orange) 4px;
    border-left: dotted var(--main-orange) 4px;
}

/* PORTFOLIO */

#portfolio h3 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 20px;
}

#portfolio-gallery {
    width: 100%;
    min-height: 600px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    background-size: cover;
}

.tile-1 {
    grid-column: 1/ span 3;
    grid-row: 1/2;

    background-image: url(imgs/pic1-workabroad.png);
}

.tile-2 {
    grid-column: 4/span 2;
    grid-row: 1/2;

    background-image: url(imgs/pic2-interior.png);
}

.tile-3 {
    grid-column: 6/span 3;
    grid-row: 1/2;

    background-image: url(imgs/pic3-salad.png);
}

.tile-4 {
    grid-column: 1/span 2;
    grid-row: 2/3;

    background-image: url(imgs/pic4-interior.png);
}

.tile-5 {
    grid-column: 3/span 6;
    grid-row: 2/3;

    background-image: url(imgs/pic5-room.png);
    background-position: center;
}

/* portfolio layer */

.portfolio-layer {
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
    height: 100%;
    color: #fff;
    display: none;
}

.portfolio-layer-h4,
.portfolio-layer-p {
    padding-left: 5%;
}

.portfolio-layer-h4 {
    display: inline-block;
    font-size: 26px;
    margin-top: 10px;
}

.portfolio-layer-p {
    padding-top: 10px;
    font-size: 16px;
    max-width: 70%;
}

.portfolio-btn {
    margin: 5% 0 0 5%;
    width: 100px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    border: none;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;
}

/* CONTACT FORM */

section#contact {
    background-color: var(--background-white);
    padding: 50px;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.02em;
    box-sizing: border-box;

    color: #222222;
}

#contact h3 {
    margin-bottom: 20px;
}

#contact-form {
    width: 85%;
    margin: 0 auto;
    display: flex;
    height: 80%;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

/* orange field */

#form-info {
    background-color: var(--main-orange);
    color: white;
    font-size: 18px;
    width: 40%;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#form-info::after {
    content: " ";
    width: 50px;
    height: 50px;
    background-color: var(--main-orange);
    transform: rotate(45deg);
    position: absolute;
    right: -25px;
    top: 40px;

}

#please-describe {
    font-family: Raleway;
    line-height: 172.35%;
    width: 70%;
    margin-top: 5%;
}

#socials .fab {
    margin-right: 15px;
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    background-color: #fff;
    color: var(--main-orange);
    line-height: 20px;
    text-align: center;
    width: 20px;
}

#socials .fa-github {
    transform: scale(1.8);
    background-color: var(--main-orange);
    color: #fff;
}

#p-footer-bold {
    font-family: "Ubuntu";
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin-top: 10px;
}

#p-footer-normal {
    font-family: "Ubuntu";
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.02em;
}

#footer-email {
    text-decoration: underline;
}

/* form */

#form-panel {
    width: 60%;
}

form {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
}

form legend {
    font-weight: bold;
    font-size: 36px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
}

form input,
form textarea {
    background-color: var(--background-white);
    border-radius: 15px;
    border: inset;
}

form input {
    height: 55px;
}

form textarea {
    height: 180px;
}

[placeholder] {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #A0A0A0;
    padding-left: 5%;
}

#send-button {
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

/* FOOTER */

#footer-pagebottom {
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #A0A0A0;
    margin: 50px auto;
}

/* HOVER STATE */

.btn:hover {
    background: #fff;
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
    box-sizing: border-box;
}

#hero i:hover {
    cursor: pointer;
    background-color: var(--main-orange);
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#hero .fa-github:hover {
    color: var(--main-orange);
    background-color: #fff;
    transition: all 1s ease-in-out;
}

.tile-1:hover .portfolio-layer,
.tile-2:hover .portfolio-layer,
.tile-3:hover .portfolio-layer,
.tile-4:hover .portfolio-layer,
.tile-5:hover .portfolio-layer {
    display: block;
}

.portfolio-btn:hover,
#form-panel .btn:hover {
    background: #fff;
    color: var(--main-orange);
    border: solid 2px var(--main-orange);
}

#navbar ul li a:hover {
    animation: navanimation 3s infinite;
    text-decoration: underline;
}

#socials .fab:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */

/* S */
@media (max-width: 767px) {

    #about-me h3,
    #skills h3,
    #portfolio h3,
    #contact h3 {
        font-size: 20px;
    }

    /* nav menu */

    #navbar {
        min-height: 150px;
        max-height: 400px;
        float: none;
        display: flex;
        justify-content: center;
    }

    #logo {
        display: none;
    }

    nav ul li {
        display: block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    /* Hero */

    #hero,
    #overlay {
        height: 100%;
    }

    #hero {
        padding-bottom: 10%;
    }

    #hero h1 {
        font-size: 42px;
    }

    #hero h2 {
        font-size: 28px;
    }

    /* rectangle */

    #rectangle p {
        font-size: 20px;
        margin-top: 5%;
    }

    #buttons {
        flex-direction: column;
        align-items: center;
    }

    .rec-buttons {
        margin: 10px;
    }

    /* about me */

    #about-me,
    #about-front-rectangle,
    #about-back-rectangle {
        position: static;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #about-me {
        width: 100%;
    }

    #about-me h3 {
        top: 0;
        position: relative;
        padding-left: 5%;
    }

    #about-front-rectangle {
        width: 85%;
        margin: 0 auto;
        padding: 5%;

        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    #about-front-rectangle p {
        font-size: 14px;
        padding-left: 5%;
    }

    #about-paragraph {
        font-size: 14px;
        margin: auto 5%;
        grid-area: 2/1/3/3;
        border-top: dotted var(--main-orange) 4px;
        padding-top: 5%;
    }

    #personal-details {
        border-right: none;
    }

    /* skills */

    #skills {
        width: 85%;
        margin: 10px auto;
    }

    #skills,
    #skills-back-rectangle,
    #skills-front-rectangle {
        position: static;
        height: auto;
    }

    #skills h3 {
        background-color: #fff;
    }

    #skills-front-rectangle {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr 1fr;
        margin-bottom: 20px;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #frontend {
        border-top: dotted var(--main-orange) 4px;
        border-bottom: dotted var(--main-orange) 4px;
        border-right: none;
        border-left: none;
    }

    /* portfolio */

    #portfolio-gallery {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        min-height: 200px;
        max-height: 500px;
    }

    .portfolio-layer {
        display: block;
    }

    .portfolio-layer-p {
        max-width: 90%;
        font-size: 12px;
    }

    .portfolio-layer-h4 {
        font-size: 12px;
    }

    .portfolio-btn {
        width: 50px;
        height: 25px;
        border-radius: 8px;
        margin-bottom: 5px;
    }

    .tile-1 {
        grid-column: 1/ span 5;
        grid-row: 1/2;
    }

    .tile-2 {
        grid-column: 6/ span 3;
        grid-row: 1/2;
    }

    .tile-3 {
        grid-column: 1/ span 3;
        grid-row: 2/3;
    }

    .tile-4 {
        grid-column: 4/ span 8;
        grid-row: 2/3;
    }

    .tile-5 {
        grid-column: 1/ span 8;
        grid-row: 3/4;
    }

    /* Contact form */

    section#contact {
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #contact h3 {
        margin-top: 20px;
        margin-left: 40px;
    }

    #contact-form {
        flex-direction: column;
        margin-bottom: 0px;
    }

    #form-info,
    #form-panel {
        width: 100%;
    }

    #form-info {
        font-size: 16px;
    }

    #form-info::after {
        display: none;
    }

    #please-describe {
        width: 85%;
        line-height: 120%;
        padding-bottom: 20px;
    }

    form input {
        height: 40px;
    }

    form legend {
        font-size: 20px;
    }

    /* footer */

    #footer-pagebottom {
        margin: 25px auto;
    }
}

/* M */

@media (min-width: 768px) and (max-width: 991px) {

    /* hero */

    #hero {
        padding-bottom: 10%;
    }

    #hero,
    #overlay {
        height: 100%;
    }

    #hero h1 {
        font-size: 72px;
    }

    /* rec */

    #rectangle {
        margin-bottom: 10%;
    }

    #rectangle p {
        font-size: 24px;
        margin-top: 5%;
    }

    .rec-buttons {
        margin: 20px 50px;
    }

    /* about me */

    #person-img {
        width: 80px;
        height: 80px;
    }

    #personal-details {
        font-size: 16px;
    }

    #about-front-rectangle {
        height: auto;
    }

    #about-paragraph {
        font-size: 16px;
    }

    /* skills */

    #skills-back-rectangle {
        height: 300px;
    }

    #skills-front-rectangle {
        height: auto;
    }

    #skills-front-rectangle p {
        font-size: 20px;
        line-height: 24px;
    }

    .skill {
        margin: 25px;
    }

    .skill img {
        width: 50%;
    }

    #frontend p {
        padding: 0 20px;
    }

    /* portfolio */

    #portfolio-gallery {
        height: auto;
        min-height: 400px;
        max-height: 700px;
    }

    .portfolio-layer-h4 {
        font-size: 14px
    }

    .portfolio-layer-p {
        font-size: 12px
    }

    .portfolio-btn {
        width: 75px;
        height: 40px;
    }

    /* contact form */

    section#contact {
        width: 95%;
    }

    #contact-form {
        width: 100%;
        margin: 50px auto 0;
    }

    #form-info {
        font-size: 16px;
    }

    #form-info::after {
        width: 30px;
        height: 30px;
        right: -15px;
    }

    form legend {
        font-size: 26px;
    }

    form input,
    form textarea {
        border-radius: 10px;
    }

    form input {
        height: 35px;
    }

    form textarea {
        height: 120px;
    }

    [placeholder] {
        font-size: 14px;
    }

    /* footer */

    #footer-pagebottom {
        margin: 25px auto;
    }
}